/*
Triangle shape
https://codepen.io/knod/pen/YqLgwR
*/

#rightButton {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.25em;
    -fx-shape: "M 95,50 5,95 5,5 z"; 
}

#leftButton {
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.25em;
    -fx-shape: "M 5,50 97.5,5 97.5,95 Z"; 
}