/*
Triangle shape
https://codepen.io/knod/pen/YqLgwR

-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
*/

.arrowButton {
    -fx-padding: 0.25em;
}

#rightButton {
    -fx-shape: "M 95,50 5,95 5,5 z"; 
}

#leftButton {
    -fx-shape: "M 5,50 97.5,5 97.5,95 Z"; 
}