/*
Color palette: https://www.color-hex.com/color-palette/66147

*/

.border-pane {
    -fx-background-color:#313131;
}

.button {
    -fx-background-radius:16px;
    -fx-color:#2980b9;
}

.button:hover {
    -fx-color:#3498db;
    -fx-text-fill:#ffffff;
}

.label {
    -fx-text-fill:#ecf0f1;
}

#temp-label {
    -fx-text-fill:#000000;
}

.pageChangeButton {
    -fx-text-fill:#ffffff;
    -fx-color:#27ae60;
}

.pageChangeButton:hover {
    -fx-color:#2ecc71;
}

.redButton {
    -fx-color:#e74c3c;
    -fx-text-fill:#ffffff;
}

.redButton:hover {
    -fx-color:#c0392b;
}

.dialog-pane {
    -fx-background-color:#313131;
}